footer {
    background-image: url(/assets/images/Background_Contacts.png);
    background-size: cover;
    height: 787px;
    padding: 128px 120px 200px;
    display: flex;
    align-items: center;
    gap: 48px;
    flex-direction: column;
}

.header-footer {
    height: 91px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    p:nth-child(1) {
        height: 24px;
        width: 420px;
    }
    p:nth-child(2) {
        height: 29px;
        width: 420px;
        text-align: center;
    }
    p:nth-child(3){
        height: 22px;
        width: 420px;
        text-align: center;
    }
}

.links {
    height: 320px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    p{
    width: 288px;
    margin-top: 3px;
    }
}

.link-footer {
    width: 400px;
    height: 68px;
    display: flex;
    padding: 20px 20px;
    gap: 12px;
    .linkedin {
        background-image: url(/assets/LinkedinLogo.svg);
        width: 28px;
        height: 28px;
    }
    .instagram {
        background-image: url(/assets/InstagramLogo.svg);
        width: 28px;
        height: 28px;
    }
    .github {
        background-image: url(/assets/GithubLogo.svg);
        width: 28px;
        height: 28px;
    }
    .email {
        background-image: url(/assets/EnvelopeSimple.svg);
        width: 28px;
        height: 28px;
    }
}

.link-footer:hover {
    border-style: solid;
    border-color: var(--blue);
    border-width: 1px;
    .linkedin {
        background-image: url(/assets/LinkedinLogoBlue.svg);
        width: 28px;
        height: 28px;
    }
    .instagram {
        background-image: url(/assets/InstagramLogoBlue.svg);
        width: 28px;
        height: 28px;
    }
    .github {
        background-image: url(/assets/GithubLogoBlue.svg);
        width: 28px;
        height: 28px;
    }
    .email {
        background-image: url(/assets/EnvelopeSimpleBlue.svg);
        width: 28px;
        height: 28px;
    }
}