main {
  background-color: #16181D;
  background-size: cover;
  height: 917px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 120px 144px;
  gap: 56px;
  p {
    display: block;
  }
}

#header-main {
  gap: 8px;
  display: flex;
  max-width: 1040px;
  height: 61px;
  flex-direction: column;
  align-items: center;
}

.grid-header {
  max-width: 1040px;
  height: 584px;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 280px);
  gap: 24px 24px;
}

.projects {
  display: grid;
  grid-template-columns: 306px;
  grid-template-rows: 156px 75px;
  justify-content: center;
  gap: 20px;
  padding: 12px 12px 112px;
  border-radius: 12px;
}

.description {
  display: grid;
  grid-template-columns: 306px;
  grid-template-rows: 19px 40px;
  gap: 8px;
}

.img {
  img {
    border-radius: 8px;
    object-fit: cover;
    width: 306px;
    height: 156px;
  }
}

