.box {
  background-color: var(--gray-300);
}

.title-lg {
  font: var(--title-lg);
  color: var(--gray-600);
}

.title-md {
  font: var(--title-md);
  color: var(--gray-600);
}

.title-sm {
  font: var(--title-sm);
  color: var(--gray-600);
}

.subtitle {
  font: var(--subtitle);
  color: var(--gray-500);
}

.text-lg {
  font: var(--text-lg);
  color: var(--gray-500);
}

.text-md {
  font: var(--text-md);
  color: var(--gray-500);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-400);
}

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.border-radius {
  border-radius: 8px;
}